<footer class="footer">
  <small>
    In patrnership with <a href="www.coraf.org/">Coraf/Wecard</a>,
    the <a href="https://carnegiescience.edu/">Carnegie Institution for Science</a>,
    and the <a href="https://www.calacademy.org/">California Academy of Sciences</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>